@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  background-color: #e0e0e0;
  color: #333;
  font-family: "Roboto Mono", sans-serif;
}

h2 {
  border-bottom: 2px solid #999;
  width: 50%;
  padding-bottom: 8px;
}
