<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Items</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <!-- display pantry items -->
    <h1><%= username %> pantry items</h1>
    <% if (pantry.length > 0) { %>
    <ul>
      <% pantry.forEach(item => { %>
      <li><%= item.name %></li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>There are no items in this pantry.</p>
    <% } %>
  </body>
</html>
