<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="/js/script.js" defer></script>
    <title>Quote Bank</title>
  </head>
  <body>
    <div class="container">
      <h1 id="title">Welcome to Quote Bank app!</h1>
      <img class="quote-bg" src="img/quote.png" alt="" />
      <p id="description">An app for collecting your favorite quotes.</p>
      <button id="browse-quotes">Browse Quotes</button>
    </div>
  </body>
</html>
