@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Creepster&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url("./assets/images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  padding: 24px;
  /* glassmorphism effect */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
}

ul {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
}

li {
  list-style: none;
}

img {
  border-radius: 50%;
  width: 120px;
  transition: all 0.5s;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  transition: all 0.3s;
}

#title {
  font-family: "Creepster", system-ui;
  font-size: 76px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 500;
  transition: all 0.3s;
}

.team-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-top: 20px;
  margin-bottom: 32px;
}

.parent-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.current-fighters p,
.available-fighters p {
  text-align: center;
  margin: 8px;
}

.available-fighters h4,
.current-fighters h4 {
  margin: 12px;
  margin-bottom: 4px;
  letter-spacing: 1px;
}

.available-fighters li,
.current-fighters li {
  text-align: left;
}

.parent-container h3 {
  font-size: 28px;
  margin-bottom: 8px;
}

.fighter-container {
  display: flex;
  border: 1px solid white;
  padding: 12px;
  margin: 8px;
  transition: all 0.3s;
  /* glassmorphism effect */
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.fighter-container:hover {
  transform: scale(1.05);
}

.fighter-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.fighter-details {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
}

.fa-square-plus,
.fa-square-xmark {
  font-size: 28px;
  cursor: pointer;
}

.fa-square-plus:active,
.fa-square-xmark:active {
  transform: scale(0.98);
}

@media (max-width: 768px) {
  #title {
    font-size: 64px;
  }

  h2 {
    font-size: 24px;
  }

  img {
    border-radius: 50%;
    width: 90px;
  }

  .parent-container h3 {
    font-size: 24px;
  }

  li {
    font-size: 15px;
  }
}
