<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>All Quotes</title>
  </head>
  <body>
    <div id="quotes-container">
      <h1 id="title">All Quotes</h1>
      <ul>
        <% quotes.forEach(quote => { %>
        <li><%= quote.quote %></li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
