<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>All Quotes</title>
  </head>
  <body>
    <div id="quotes-container">
      <div class="quotes-nav">
        <h1>All Quotes</h1>
        <a href="/quotes/new">Add Quote</a>
      </div>
      <ul>
        <% quotes.forEach(quote => { %>
        <a href="/quotes/<%= quote._id %>">
          <li><%= quote.quote %></li>
        </a>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
