@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", sans-serif;
  background-color: hsl(70, 14%, 92%);
  color: hsl(0, 0%, 20%);
  display: flex;
  justify-content: center;
}

.quote-bg {
  width: 125px;
}

#browse-quotes,
#btn-add {
  background-color: hsl(134, 61%, 30%);
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 16px;
  padding: 8px 32px;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 4px 4px hsla(134, 61%, 20%, 0.8);
}

#browse-quotes:hover,
#btn-add:hover {
  background-color: hsl(134, 61%, 32%);
}

#browse-quotes:active,
#btn-add:active {
  transform: scale(0.98);
}

.container,
.form-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#title,
#form-title {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  margin-bottom: 40px;
}

#form-title {
  margin-bottom: 24px;
}

#description {
  margin-bottom: 32px;
}

.quote-bg {
  margin-bottom: 8px;
}

.form-container {
  width: 525px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

form {
  width: 80%;
}

input,
select,
textarea,
#btn-add {
  width: 100%;
  height: 40px;
  font-family: inherit;
  padding: 8px;
  outline: none;
}

textarea {
  resize: none;
  height: 100px;
}

#browse-quotes,
#btn-add {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

#btn-add {
  margin-top: 24px;
}

input,
select,
textarea {
  margin-top: 8px;
  margin-bottom: 16px;
}

small {
  font-size: 12px;
  margin-top: 4px;
}

#quotes-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  width: 525px;
  margin-top: 48px;
}

#quotes-container ul {
  list-style: none;
}

#quotes-container li {
  border-left: 4px solid lightslategray;
  padding: 8px;
  margin-bottom: 24px;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#quotes-container li:hover {
  transform: scale(1.02);
  background-color: hsl(70, 14%, 87%);
}

.quotes-nav,
.quote-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 32px;
}

.quote-nav {
  justify-content: space-between;
}

.form-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.quotes-nav a,
.quote-nav a,
.form-nav a {
  font-family: "Merriweather", sans-serif;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
  color: hsl(10, 60%, 44%);
  border-bottom: 2px solid;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.quote-nav a {
  margin-right: 16px;
}

.quotes-nav a:hover,
.quote-nav a:hover,
.form-nav a:hover {
  transform: scale(1.1);
  border: none;
}

ul a {
  text-decoration: none;
  color: hsl(0, 0%, 20%);
}

.show-quote {
  width: 525px;
  padding: 8px;
  margin-bottom: 32px;
}

#author {
  margin-bottom: 16px;
  letter-spacing: 2px;
}

#author::first-letter {
  font-size: 48px;
}

#quote {
  line-height: 1.5;
}

.quote-actions {
  width: 100%;
}

.action-container {
  width: 80%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.action-container li {
  list-style: none;
}

#upvote,
#downvote,
#edit,
#delete {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltip {
  margin-bottom: 8px;
}

.tooltip {
  color: hsl(10, 60%, 44%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#upvote:hover .tooltip,
#downvote:hover .tooltip,
#edit:hover .tooltip,
#delete:hover .tooltip {
  opacity: 1;
}
