* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: gainsboro;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.sqr {
  width: 33%;
  aspect-ratio: 1/1;
  border: 2px solid #202020;
  font-size: 64px;
  text-align: center;
}

h1 {
  font-size: 32px;
}

#message {
  margin-top: 10px;
  margin-bottom: 20px;
}

#reset {
  font-family: inherit;
  font-size: 20px;
  padding: 4px 16px;
  margin-top: 40px;
  border: none;
  border-radius: 10px;
  background-color: rgb(179, 85, 51);
  color: #fff;
  outline: none;
}
