* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(400px, 1fr));
    list-style: none;
    gap: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border: 1px solid hsla(0, 0%, 0%, 0.2);
    border-radius: 8px;
    line-height: 32px;
}

h1,
h2,
h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

main {
    margin: 32px;
    font-family: "Inter", sans-serif;
}

.name {
    font-weight: bold;
    font-size: 18px;
}

form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

form * {
    margin-right: 16px;
}

input {
    font-family: inherit;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid rgba(160, 160, 160, 0.6);
}
