.list ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(330px, 410px));
    list-style: none;
    gap: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
    border: 2px solid hsla(348, 65%, 29%, 0.9);
    border-radius: 12px;
    line-height: 32px;
}

h2,
h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

main {
    margin: 64px 32px;
    font-family: "Inter", sans-serif;
    padding: 32px 64px;
    border-radius: 32px;

    background: hsla(208, 54%, 11%, 0.9);
    box-shadow: 0 8px 32px 0 hsla(0, 0%, 0%, 0.4);
}

.name {
    font-weight: bold;
    font-size: 18px;
}

form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

form * {
    margin-right: 16px;
}

input {
    font-family: inherit;
    padding: 8px 16px;
    border-radius: 8px;
    border: 2px solid hsl(348, 65%, 29%);
    background-color: hsla(208, 54%, 11%, 0.1);
}

.container {
    display: flex;
    gap: 80px;
    margin-bottom: 24px;
}

.header {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 48px;
}

.header button {
    width: 100px;
    height: 50px;
    font-family: inherit;
}

.header button:active {
    transform: scale(0.98);
}

.header h1 {
    font-weight: 500;
}

.field-title {
    font-weight: 600;
}

.field-title::after {
    content: " ";
}

main button {
    background-color: #ca203e;
}

@media (max-width: 1396px) {
    .list ul {
        display: grid;
        grid-template-columns: repeat(2, minmax(330px, 380px));
        list-style: none;
        gap: 16px;
    }

    .header {
        grid-template-columns: repeat(3, auto);
    }

    .header button {
        width: 90px;
        height: 50px;
        font-family: inherit;
    }
}

@media (max-width: 1016px) {
    .list ul {
        display: grid;
        grid-template-columns: repeat(1, minmax(330px, 390px));
        list-style: none;
        gap: 16px;
    }

    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .header {
        margin-bottom: 24px;
    }

    .header button {
        width: 100px;
        height: 50px;
        font-family: inherit;
    }
}
